.about{
    
    height: 150vh;
    display: grid;
    grid-template-rows: 2fr 1fr; /* 2/3 and 1/3 */
    
}

  
  .top {
    display: grid;
    grid-template-columns: 2fr 3fr; /* 2/5 and 3/5 */
  }
  
  .top > div,
  .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    
  }
  
 
  .right {
    background: #50e3c2;
  }
  
  .about-avatar-container {
    width:70%;
    height:60%;
    border-radius: 50%;

  }
  .about-avatar-container img{
    width:100%;
    height:100%;
    border-radius: 50%;
    object-fit: cover;
  }
  