.about{
    background-color: white;
    height: 130vh;
    display: grid;
    grid-template-rows: 5fr 4fr; /* 2/3 and 1/3 */
    
}

  
  .top {
    display: grid;
    grid-template-columns: 5fr 4fr; /* 2/5 and 3/5 */
  }
  
  .top > div,
  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    
  }

  .bottom{
    padding-left: 5rem;
    padding-right: 5rem; 
    padding-top:2.5rem;
    padding-bottom:2.5rem;

  }
  
 
  
  
  .about-avatar-container {
    width:70%;
    height:60%;
    border-radius: 50%;

  }
  .about-avatar-container img{
    width:100%;
    height:100%;
    border-radius: 50%;
    object-fit: cover;
  }
  .left {
    padding-left: 5rem;
    padding-right:2.5rem;
    padding-top:2.5rem;
    padding-bottom:2.5rem;
  }
  .right {
    padding-right: 5rem;
    padding-left:2.5rem;
    padding-top:2.5rem;
    padding-bottom:2.5rem;
  }

  .about-text {
    background-color: #BFDBFE;
    width: 100%;
    height: 100%;
    
    border-radius: 50px;

  
  }
  .education-text {
    border: 5px solid black;
    width: 100%;
    height: 100%;
    
    border-radius: 50px;

  
  }
  .skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #172554;
    width:100%;
    height:100%;
    border-radius: 50px;
    
  }

  .skills-title{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    justify-self: flex-start;
    margin-top: 1rem;
  }

  .skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .skill-tag {
    padding-left: 0.75rem;   /* px-3 */
    padding-right: 0.75rem;
  
    padding-top: 0.375rem;   /* py-1.5 */
    padding-bottom: 0.375rem;
  
    background-color: #eff6ff; /* bg-blue-50 */
    color: #1d4ed8;            /* text-blue-700 */
  
    border-radius: 9999px;     /* rounded-full */
    
    font-size: 1.125rem;       /* text-lg */
    font-weight: 400;          /* font-normal */
  
    border: 1px solid #bfdbfe; /* border + border-blue-200 */
  
    transition-property: background-color, border-color; /* transition-colors */
    transition-duration: 200ms; /* duration-200 */
  }
  
  .skill-tag:hover {
    background-color: #dbeafe; /* hover:bg-blue-100 */
    border-color: #93c5fd;     /* hover:border-blue-300 */
  }
  