.footer {
    position: relative;
    height: 50vh; /* or whatever looks good */
    overflow: hidden; /* hides extra wave area */
    
  }
  
.waveContainer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .waveContainer > .wave{
    position: absolute;
    width: 100%;
    height: 100%;
      bottom: 0;
      left: 0;
  }
  
  .footerContent{
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    text-align: center;
    color:white;
    margin-bottom: 50px;
  }
  