/* Header.css */

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color:transparent;
  backdrop-filter: blur(80px); 
  
  padding: 1rem 3rem;
  margin-top :0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 95%;
  justify-self: center;
  border-radius: 50px;
}

/* Logo */
.logo {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #111;
  cursor: pointer;
}

.logo a{
  padding: 0.5rem 1rem; /* added for button feel */
  border-radius: 10px;  /* rounded look */
}




/* Navbar */
.navbar ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 0.5rem 1rem; /* added for button feel */
  border-radius: 20px;  /* rounded look */
  transition: all 0.3s ease;
}

/* Hover effect */
.navbar a:hover {
  color: rgb(118, 156, 227);
  transform: scale(1.1);
}

/* Active (clicked) state */
.navbar a.active, .logo a.active {
  background-color:#172554;
  color: white;
  transform: scale(1.1);
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
  .navbar ul {
    gap: 1rem;
  }

  .header {
    padding: 1rem 1.5rem;
  }

  .logo {
    font-size: 1.2rem;
  }
}
