/* HEADER MAIN */
.header {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: transparent;
  backdrop-filter: blur(80px);

  padding: 1rem 3rem;
  margin: 0.5rem 2rem 0 2rem;
  width: 95%;
  border-radius: 50px;
}

/* Logo */
.logo {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #111;
  cursor: pointer;
}

.logo a {
  padding: 0.5rem 1rem;
  border-radius: 10px;
}


/* NAVBAR DESKTOP */
.navbar ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: 0.3s ease;
}

.navbar a:hover {
  color: rgb(118, 156, 227);
  transform: scale(1.1);
}

.navbar a.active,
.logo a.active {
  background-color: #172554;
  color: white;
  transform: scale(1.1);
}


/* MOBILE HAMBURGER MENU */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: #333;
  border-radius: 5px;
  transition: 0.4s;
}

/* Animation when menu is open */
.hamburger span.open:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}
.hamburger span.open:nth-child(2) {
  opacity: 0;
}
.hamburger span.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

/* MOBILE NAVBAR */
@media (max-width: 768px) {
  .header {
    padding: 1rem 1.5rem;
  }

  .logo {
    font-size: 1.2rem;
  }

  .navbar {
    position: absolute;
    top: 80px;
    right: 0;
    width: 70%;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 1.5rem 2rem;
    transform: translateX(100%);
    transition: 0.4s ease-in-out;
  }

  .navbar.show {
    transform: translateX(0);
  }

  .navbar ul {
    flex-direction: column;
    gap: 1.5rem;
  }

  .hamburger {
    display: flex;
  }
}
