 
  #hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  
  
  /* container that holds everything */
  .hero-container {
    margin-top:12rem;
    position: relative; /* so bg-box can position itself inside */
    width: 75%;
    height: 57%;
    display: flex;
    flex-direction: row; 
    
    align-items: center;
    border-radius: 70px;
   
    z-index: 0; 
  }
  
  
  
  /* text and avatar above bg */
  .text-container{
    flex:2;
    position: relative;
    z-index: 1; /* above background */
    margin-left: 7rem;
  }
  
  /* avatar styling */
  .avatar {
    flex:1;
    
    position: relative;
    z-index: 1; /* above background */
    
    height: 130%;
    align-self: flex-end;
    margin-right: 7rem;
    
    
  }

  .socials{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    width:20%;
    justify-content: space-between;
  }
  .socials li{
    list-style: none;
    
  }
  .icon{
    width:3rem;
    height:3rem;
    background-color: rgb(118, 156, 227);
    border-radius: 30%;
  }
  .lucide {
  padding:8px;
  stroke: rgb(25, 11, 76);
}


